<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>A propos</h6>
                <p class="text-justify">Matevulu Lodge est un bel endroit situé dans une baie calme entre 2 trous bleus,
                    sur la côte est de l'île luxuriante d'Espiritu Santo, Vanuatu.
                    Avec nos bungalows en bord de mer et une cuisine principale à partager avec les autres, venez y
                    passer des moments authentiques en famille ou entre amis dans une atmosphère simple et
                    conviviale.</p>

            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Galeries</h6>
                <ul class="footer-links">
                    <li><a href="{{ path('galerie_showMatevulu') }}"
                           title="Matevulu Lodge">Matevulu Lodge</a></li>
                    <li><a href="{{ path('galerie_showFreediving') }}"
                           title="Matevulu Lodge Freediving">Matevulu Lodge Freediving</a></li>
                    <li><a href="{{ path('galerie_showSanbij') }}"
                           title="Matevulu Lodge Sanbij Bungalow">Sanbij Bungalow</a></li>
                    <li><a href="{{ path('galerie_showFlaoa') }}"
                           title="Matevulu Lodge Flaoa Bungalow">Flaoa Bungalow</a></li>
                    <li><a href="{{ path('galerie_showPidjin') }}"
                           title="Matevulu Lodge Pidjins & Pikinis Bungalow">Pidjins & Pikinis Bungalows</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Liens utiles</h6>
                <ul class="footer-links">
                    <li><a href="{{ path("contact") }}" title="Matevulu | Localisation">Localisation</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">&copy;Matevulu.com {{ "now"|date("Y") }} / Created by Treussart Rémi / All
                    rights reserved.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/matevululodge"><i class="fa fa-facebook"
                                                                                             title="Facebook Matevulu"></i></a>
                    </li>
                    <li><a class="tripadvisor"
                           href="https://www.tripadvisor.fr/Hotel_Review-g19429165-d19422989-Reviews-Matevulu_Lodge-Saraoutou_Espiritu_Santo.html"
                           title="TripAdvisor Matevulu"><i class="fa fa-tripadvisor"></i></a></li>
                    <li><a class="google-plus"
                           href="https://www.google.com/travel/hotels/entity/CgoI6f26yIX2y-8KEAE/reviews?g2lb=2502548%2C4258168%2C4270442%2C4306835%2C4317915%2C4319922%2C4322823%2C4328159%2C4367954%2C4371335%2C4381263%2C4395848%2C4401769%2C4402623%2C4403882%2C4416581%2C4416771%2C4270859%2C4284970%2C4291517%2C4412692&hl=fr&gl=fr&un=1&rp=EOn9usiF9svvChDp_brIhfbL7wo4AkAASAHAAQI&ictx=1&sa=X&utm_campaign=sharing&utm_medium=link&utm_source=htls&hrf=KhYKBwjkDxAIGAUSBwjkDxAIGAYYASgAggEkMHg2ZWYyNTU3NjA4NjljMjFiOjB4YWRmMmZiMDU5MGViZWU5mgEmGiQweDZlZjI1NTc2MDg2OWMyMWI6MHhhZGYyZmIwNTkwZWJlZTk"><i
                                    class="fa fa-google-plus" title="Google + Matevulu"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/matevululodge/" title="Instagram Matevulu"><i
                                    class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

